#chat {
    visibility: hidden;
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message-me {
    height: fit-content;
    margin: 20px 5px;
    display: flex;
    align-self: flex-end;
}

.message {
    height: fit-content;
    margin: 10px 5px;
    display: flex;
}

.message>.avatar-message>img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.message-section {
    display: flex;
    flex-direction: column;
}

.message-time {
    font-size: 11px;
    color: gray;
}

.message>.message-section {
    align-items: flex-start;
    margin-left: 10px;
}

.message-me>.message-section {
    align-items: flex-end;
}

.message>.message-section>.message-text {
    background-color: silver;
    width: fit-content;
    /* max-width: 80%; */
    height: fit-content;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}

.message-me>.message-section>.message-text {
    background-color: #8C3BCE;
    width: fit-content;
    /* max-width: 80%; */
    height: fit-content;
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    color: tan;
    /* align-self: flex-end; */
}

.msg-list {
    max-height: calc(100% - 160px);
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.bottom-text-area {
    min-height: 35px;
    max-height: 90px;
    padding: 5px 0 5px 0;
    width: 95%;
    margin-right: 10px;
    border-radius: 40px;
    background-color: silver;
}

.bottom-text-area>.text-box {
    width: calc(100% - 90px);
    height: 100%;
    max-height: inherit;
    min-height: inherit;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    font-size: 20px;
    border: none;
    background-color: transparent;
    padding: 0 0 0 20px;
    outline: none;
}

.bottom-text-area>.send-btn>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #73C431;
    padding: 8px;
    filter: invert(100%);
    cursor: pointer;
}

.loader,
.loader:before,
.loader:after {
    background: #8C3BCE;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #8C3BCE;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}